<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form action="/category/add/gpu" method="post">
    <h1 style="margin: 0 auto;">Add New GPU</h1>
    <div class="form-field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" maxlength="255" required>
    </div>
    <div class="form-field">
        <label for="chipset_manufacturer">Chipset Manufacturer</label>
        <input type="text" name="chipset_manufacturer" id="chipset_manufacturer" maxlength="255" required>
    </div>
    <div class="form-field">
      <label for="memory_size_gb">Memory size in gigabytes</label>
      <input type="number" name="memory_size_gb" id="memory_size_gb" required>
    </div>
    <div class="form-field">
      <label for="recommended_psu">Recommended PSU wattage</label>
      <input type="text" name="recommended_psu" id="recommended_psu" maxlength="4" required>
    </div>
    <div class="form-field">
      <label for="price">Price</label>
      <input type="number" name="price" id="price" required >
    </div>
    <button type="submit">Add</button>
  </form>
  <div class="cancel-wrapper">
    <a href="/category/gpu">Cancel</a>
  </div>
</body>