<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form action="/category/add/psu" method="post">
    <h1 style="margin: 0 auto;">Add New Power Supply</h1>
    <div class="form-field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" maxlength="255" required>
    </div>
    <div class="form-field">
        <label for="series">Series</label>
        <input type="text" name="series" id="series" maxlength="255" required>
    </div>
    <div class="form-field">
      <label for="model">Model</label>
      <input type="text" name="model" id="model" maxlength="255" required>
    </div>
    <div class="form-field">
      <label for="max_power_w">Max Power Wattage</label>
      <input type="number" name="max_power_w" id="max_power_w" required>
    </div>
    <div class="form-field">
      <label for="energy_efficient">Energy Efficiency</label>
      <input type="text" name="energy_efficient" id="energy_efficient" maxlength="255" required>
    </div>
    <div class="form-field">
      <label for="form_factor">Form factor</label>
      <input type="text" name="form_factor" id="form_factor" maxlength="255" required>
    </div>
    <div class="form-field">
      <label for="price">Price</label>
      <input type="number" name="price" id="price" required >
    </div>
    <button type="submit">Add</button>
  </form>
  <div class="cancel-wrapper">
    <a href="/category/psu">Cancel</a>
  </div>
</body>