<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form action="/category/add/rams" method="post">
    <h1 style="margin: 0 auto;">Add New Ram</h1>
    <div class="form-field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" maxlength="255" required>
    </div>
    <div class="form-field">
        <label for="capacity">Capacity</label>
        <input type="text" name="capacity" id="capacity" maxlength="40" required>
    </div>
    <div class="form-field">
      <label for="ram_generation">Ram generation</label>
      <input type="text" name="ram_generation" id="ram_generation" maxlength="40" required>
    </div>
    <div class="form-field">
      <label for="series">Series</label>
      <input type="text" name="series" id="series"  required>
    </div>
    <div class="form-field">
      <label for="price">Price</label>
      <input type="number" name="price" id="price" required >
    </div>
    <button type="submit">Add</button>
  </form>
  <div class="cancel-wrapper">
    <a href="/category/rams">Cancel</a>
  </div>
</body>