<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form action="/category/add/storage" method="post">
    <h1 style="margin: 0 auto;">Add New Storage</h1>
    <div class="form-field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" maxlength="255" required>
    </div>
    <div class="form-field">
        <label for="capacity">Capacity</label>
        <input type="text" name="capacity" id="capacity" maxlength="255" required>
    </div>
    <div class="form-field">
      <label for="rpm">RPM</label>
      <input type="number" name="rpm" id="rpm" >
    </div>
    <div class="form-field">
      <label for="Series">Series</label>
      <input type="text" name="Series" id="Series" maxlength="255"  required>
    </div>
    <button type="submit">Add</button>
  </form>
  <a href="/category/storage">Cancel</a>
</body>