<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Home</title>
</head>
<body>
  <h1>Computer Inventory Application</h1>
  <h2>My Computers</h2>
  <ul>
     <% computers.map(computer => {  %>
        <li><a href=<%= `/computer/${computer.name.split(" ").join("%20")}` %>><%= computer.name %></a></li>
      <% })  %>
  </ul>
  <h2>Components</h2>
  <ul>
    <li><a href="/category/motherboards">Motherboards</a></li>
    <li><a href="/category/cpu">CPUs</a></li>
    <li><a href="/category/gpu">Graphic cards</a></li>
    <li><a href="/category/rams">Rams</a></li>
    <li><a href="/category/storage">Storage</a></li>
    <li><a href="/category/psu">Power Supplies</a></li>
    <li><a href="/category/cases">Cases</a></li>
  </ul>
</body>
</html>