/*  
*  Disables standard content-box sizing.
*
*/

*, *::before, *::after {
  box-sizing: border-box;
}


/*  
*  Removes all default margin sets the line height to meet WCAG criteria.
*
*/

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}


/*
* Removes default inline display for media and fits media to its container.
*
*/

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/*
* Form controls will use parent's font.
*
*/

input, button, textarea, select {
font: inherit;
}

/*
* Allows paragraphs to break words and add hyphens were necessary.
*
*/

p {
overflow-wrap: break-word;
hyphens: auto;
}


body{
  background-color: #444444;
  color: white;
  padding: 0px 10px;
  font-family: Helvetica;
  width: 100%;
}

.detail {
  display: flex;
  gap: 10px;
}

.product {
  background-color: rgb(44, 44, 44);
  color: rgb(134, 213, 238);
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.products {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.buttons {
  align-self: self-end;
}



form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
}



.computer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

label {
  color: aqua;
}

input, select {
  background-color: #444;
  border: 1px solid rgb(2, 168, 168);
  padding: 3px;
  color: white;
}

button {
  border: 1px solid aqua ;
  cursor: pointer;
  background-color: transparent;
  color: aqua;
  padding: 10px;
  font-size: 1.5rem;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  color: #444;
  background-color: aqua;
}

.cancel-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cancel-wrapper a {
  padding: 10px;
}

.computer {
  background-color: #262626;
  color: aqua;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;

  
}

li {
  text-decoration-style: none;
}

a {
  text-decoration: none;
  color: aqua;
  font-size: 1.2rem;
}

a:hover {
  color: #444;
  background-color: aqua;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  font-size: 2rem;
}

li a{
  text-align: center;
  border: 2px solid aqua;
  padding: 5px;
  
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.nav-links-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-link {
  border: 1px solid aqua;
  padding: 5px;
 
}

.remove {
  color: rgb(182, 51, 51);
  border: 1px solid rgb(182, 51, 51) ;
}

.remove:hover {
  background-color: rgb(182, 51, 51);
}

.error {
  color: rgb(182, 51, 51);
  background-color: #262626;
  padding: 10px;
  border-radius: 10px;
}